<div class="container">
  <div class="row">
  	<div class="col-xs-4">
      <h2>新規メモ</h2>
      <!--新規メモのviewの呼び出し-->
      <%= render 'notes/new', note: @group_note %>
    </div>

  	  <div class="col-xs-8">
      <%= render 'group_notes/search' %>
  	  <h2>グループメモ一覧</h2><br>
      <table class="table">
        <tr>
          <th>作成日</th>
          <th>題名</th>
          <th></th>
          <th></th>
        </tr>

        <% @group_notes.each do |group_note| %>
        <tr>
          <td><%= group_note.created_at.strftime('%Y/%m/%d')%></td>
          <td><%= group_note.title %></td>
          <td><%= link_to "詳細", group_note_path(group_note.id) %></td>
          <td><%= link_to "削除", group_note, method: :delete, data: {confirm: "メモを削除しますか？"} %></td>
        </tr>
        <% end %>
      </table>
  	</div>
  </div>
</div>