<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>メモ</h2>
        <h3>
        <%= @group_note.created_at.strftime('%Y/%m/%d') %>
        <%= @group_note.title %>
        </h3>
          <h4>
          <%= @group_note.body %>
          </h4>
          <%= link_to "編集", edit_group_note_path(@group_note), class: "btn btn-success" %>
          <%= link_to "削除", @group_note, method: :delete, data: {confirm: "メモを削除しますか？"}, class: "btn btn-danger" %>
    </div>
  </div>
</div>