<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>メモ</h2>
        <%= @note.created_at.strftime('%Y/%m/%d') %>
        <%= @note.title %>
        <%= @note.body %>
        <%= link_to "編集", edit_note_path(@note) %>
        <%= link_to "削除", @note, method: :delete, data: {confirm: "メモを削除しますか？"} %>
    </div>
  </div>
</div>