<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>メモ</h2>
        <h3>
        <%= @note.created_at.strftime('%Y/%m/%d') %>
        <%= @note.title %>
        </h3>
          <h4>
          <%= @note.body %>
          </h4>
          <%= link_to "編集", edit_note_path(@note), class: "btn btn-success" %>
          <%= link_to "削除", @note, method: :delete, data: {confirm: "メモを削除しますか？"}, class: "btn btn-danger" %>
    </div>
  </div>
</div>